.u-section-1 .u-sheet-1 {
  min-height: 1219px;
}

.u-section-1 .u-list-1 {
  width: 667px;
  margin: 66px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 999px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 19px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 19px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 19px 0 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1167px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 65px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 942px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1194px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1006px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
  }
}